.container{
    border: 6px solid #865d40;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(159, 245, 47, 0.603);
    min-height: 1200px;
    margin-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    max-height: 500px;
    border-style: groove;
}
.parallax{
    margin-right: 10px;
    margin-left: 10px;
    min-height: 300px;
    margin-bottom: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    max-height: 500px;
}
.container img{
    float:right;
    margin-top: 15px;
}
.salesGallery{
    float: left;
    margin: 20px;
    border: 6px solid #865d40;
    padding: 20px;
}
.homeSlide{
    padding: 3rem;
    margin-right: 1rem;
}
.addressP{
    margin-left: 64px;
}
.comboBox{
    margin-top: 20px;
    margin-left: 64px;
}
.comments{
    float:right;
    width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    
}
.comments .comment{
    width: 100%;
    margin-bottom: 20px;
}
.comments .comment p{
    margin: 0 0 10px 0;
}
.bubble{
    position: relative;
    background-color: rgb(26, 67, 156);
    padding: 20px;
    color:#d1ad0e;
    border-radius: 3px;
    
}
.bubble::after{
    content: "";
    display:block;
    position:absolute;
    width: 0;
    height: 0;
    right: -15px;
    bottom:auto;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid rgb(29, 58, 150);
}

    